<a href="https://colab.research.google.com/github/cpaniaguam/CSC104/blob/main/CSC104_miniproject4_datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC-104 Spring 2021: Mini-project 4: Data cleansing and preparation

Consider Wikipedia's [*List of American and Canadian cities by number of major professional sports franchises*](https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises).

In [2]:
import pandas as pd
import numpy as np
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises')[1]
pd.set_option('display.max_columns', None)
df.head()

,Metropolitan area,Country,Pop.rank,Population (2016 est.)[8],B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,Chicago,United States,3,9512999,5,Bears[note 6],CubsWhite Sox,Bulls[note 7],Blackhawks,6,Fire,—
3,San Francisco Bay Area,United States,6,6657982,5,49ers[note 8],GiantsAthletics,Warriors,Sharks[note 9],6,Earthquakes,—
4,Dallas–Fort Worth,United States,4,7233323,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—

There are a number of problems with this dataframe.

1. There are useless and redundant columns: `'Pop. rank','B4', 'B6'`.
2. Some columns contain meaningless values (e.g. `[note ##]`)
3. The notation `—` is not a standard numeric data type for a missing value (see [NaN](https://en.wikipedia.org/wiki/NaN) on Wikipedia)
4. Some rows contain multiple values (e.g. the first row has multiple values in the `'NFL', 'MLB', 'NBA', 'NHL', 'MLS'` columns). There should be one value per row in the dataframe.
5. Some column names are actually values of a variable. For example, a new variable `'League'` (with levels `'NFL', 'MLB', 'NBA', 'NHL', 'MLS', 'CFL'`) could be created.

### Task 1
Explain why the columns `'Pop. rank','B4', 'B6'` can be removed without losing any information.

[Your answer to task 1 goes here]

### Task 2
Remove all useless/redundant columns. Justify your choices.

In [3]:
# your code for task 2 goes here

### Task 3

Remove all `[note #]` from the dataframe. Hints:

*   Consider looking at the [pandas.DataFrame.replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) method.
*   Using regular expressions might be useful. Some suggested resources: [Regular Expression HOWTO](https://docs.python.org/3/howto/regex.html), [Regular Expressions in Python](http://evc-cit.info/comsc020/python-regex-tutorial/), [regex101.com](https://regex101.com/)

In [4]:
# your code for task 3 goes here

### Task 4
Replace all `'—'` by `numpy.nan`.

In [5]:
# your code for task 4 goes here

### Task 5
Create a variable `League` with levels `'NFL', 'MLB', 'NBA', 'NHL', 'MLS', 'CFL'`. Hint: See the discussion on [Reshaping Data](https://learn.zybooks.com/zybook/SALVECSC104PaniaguaSpring2021/chapter/1/section/4) from the zybook.

In [6]:
# your code for task 5 goes here

### Task 6 (somewhat harder than the others)

Remove all rows with more than value (such as `'GiantsJets'`) while including new rows as necessary with one single value (one for `'Giants` and another for `'Jets'`).

Below is another row that needs fixing.

In [7]:
san_francisco = df.iloc[3:3+1]
san_francisco

,Metropolitan area,Country,Pop.rank,Population (2016 est.)[8],B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
3,San Francisco Bay Area,United States,6,6657982,5,49ers[note 8],GiantsAthletics,Warriors,Sharks[note 9],6,Earthquakes,—

In [8]:
san_francisco['MLB']

3    GiantsAthletics
Name: MLB, dtype: object

In [9]:
# your code for task 6 goes here