<a href="https://colab.research.google.com/github/cpaniaguam/CSC104/blob/main/CSC104_Assignment22_kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC-104 Spring 2021: Assignment 22*
Consider the [iris dataset](https://archive.ics.uci.edu/ml/datasets/iris) with no labels.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
iris = sns.load_dataset('iris')
df = pd.DataFrame(iris,columns=iris.columns[:-1])
df
# sns.pairplot(iris,hue='species')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

We want to distribute each of the observations into clusters. But into how many?

## Exercise 1
Visually explore the dataset using a variety of visualizations. How many clusters does your analysis suggest?

In [4]:
# Your code for exercise 1 goes here

[*Your comments go here*]

## Exercise 2
a. Write *your own* implementation of $k$-means using the heuristic described in [section 11.1](https://learn.zybooks.com/zybook/SALVECSC104PaniaguaSpring2021/chapter/11/section/1) for $k$-means with the value of $k$ from Exercise 1. 

*   First use all possible variable pairs, e.g. (`sepal_width`,	`petal_length`), (`sepal_length`, `sepal_width`), ...
*   Then use all possible combinations of three variables.
*   Finally use all four variables.

b. Compare your clusters with the true labels in `iris.species` from the iris dataset. How many observations are there in your clusters? How many correct matches? Rank the best 5 clusters.

In [5]:
# Your code goes here

[*Your comments go here*]